name: aws-codegen

on:
  push:
    branches:
      - master
  schedule:
    ## Scheduled nightly at 00:23
    - cron: '23 0 * * *'

jobs:
  check:
    runs-on: ubuntu-18.04
    name: Check if changed
    strategy:
      fail-fast: false

    outputs:
      current_tag: ${{ steps.current-tag.outputs.CURRENT_TAG }}
      latest_tag: ${{ steps.latest-tag.outputs.LATEST_TAG }}

    steps:
      - uses: actions/checkout@v2
      - name: Get tag used for generated files
        id: current-tag
        run: |
          # check if the file exist before
          [[ -f .latest-tag-aws-sdk-go ]] && CURRENT_TAG=$(<.latest-tag-aws-sdk-go) || CURRENT_TAG=''
          echo "::set-output name=CURRENT_TAG::${CURRENT_TAG}"

      - name: Get latest AWS SDK Go tag
        id: latest-tag
        run: |
          wget https://api.github.com/repos/aws/aws-sdk-go/releases/latest
          tag_name=$(cat latest | jq -r '.tag_name')
          echo "::set-output name=LATEST_TAG::${tag_name}"

  generate:
    runs-on: ubuntu-18.04
    name: Update services
    needs: check
    if: ${{ needs.check.outputs.current_tag != needs.check.outputs.latest_tag }}

    env:
      LATEST_AWS_SDK_GO_TAG: ${{ needs.check.outputs.latest_tag }}
      OTP_VERSION: "24.2.1"
      ELIXIR_VERSION: "1.13.2"

    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v2

      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ env.OTP_VERSION }}
          elixir-version: ${{ env.ELIXIR_VERSION }}

      - name: Checkout aws/aws-sdk-go (official Go SDK)
        uses: actions/checkout@v2
        with:
          repository: aws/aws-sdk-go
          path: tmp/aws-sdk-go
          ref: ${{ env.LATEST_AWS_SDK_GO_TAG }}

      - name: Checkout aws-codegen
        uses: actions/checkout@v2
        with:
          repository: aws-beam/aws-codegen
          path: tmp/aws-codegen

      - name: Install Dependencies
        run: |
          mix local.rebar --force
          mix local.hex --force
          mix deps.get

      - name: Generate aws-elixir
        env:
          SPEC_PATH: ../aws-sdk-go/models/apis
          TEMPLATE_PATH: priv
          ELIXIR_OUTPUT_PATH: ../../lib/aws/generated
        run: |
          # Jump to the codegen
          cd tmp/aws-codegen
          mix deps.get

          # Remove first the existing files
          rm -rf $ELIXIR_OUTPUT_PATH
          mkdir -p $ELIXIR_OUTPUT_PATH
          mix run generate.exs elixir $SPEC_PATH $TEMPLATE_PATH $ELIXIR_OUTPUT_PATH

      - name: Test generated code
        run: |
          mix test

      - name: Update latest tag file
        run: |
          echo "${LATEST_AWS_SDK_GO_TAG}" > .latest-tag-aws-sdk-go

      - name: Open Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          base: master
          branch: update-services-aws-sdk-go-${{ env.LATEST_AWS_SDK_GO_TAG }}
          title: Update services based on ${{ env.LATEST_AWS_SDK_GO_TAG }} of AWS Go SDK 
          author: GitHub <noreply@github.com>
          delete-branch: true
          body: |
            This is an automated pull request.
            It was triggered GitHub actions. The details can be found at
            https://github.com/aws-beam/aws-elixir/actions/workflows/codegen.yml

            For changes, please check https://github.com/aws/aws-sdk-go/releases/tag/${{ env.LATEST_AWS_SDK_GO_TAG }}

          commit-message: |
            Update services based on ${{ env.LATEST_AWS_SDK_GO_TAG }} of AWS Go SDK 

            For changes, please check https://github.com/aws/aws-sdk-go/releases/tag/${{ env.LATEST_AWS_SDK_GO_TAG }}

          add-paths: |
            lib/aws/generated/*
            .latest-tag-aws-sdk-go
